<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>702270526392-90hvl14d03drhc8dqakac8jopervpveq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702270526392-90hvl14d03drhc8dqakac8jopervpveq</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfN9ta2oix9a7MD3wUCJcWe2nEJAY_Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>702270526392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ltlcreation.BurstChat</string>
	<key>PROJECT_ID</key>
	<string>burst-1d39a</string>
	<key>STORAGE_BUCKET</key>
	<string>burst-1d39a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:702270526392:ios:be98304da1cf8067</string>
	<key>DATABASE_URL</key>
	<string>https://burst-1d39a.firebaseio.com</string>
</dict>
</plist>